In [1]:
#setup credentials for OpenTargets API
from google.cloud import bigquery
credentials_path = './test-bigquery-ot-f74b72249530.json'
client = bigquery.Client.from_service_account_json(credentials_path)

#Other imports
import pandas as pd
import numpy as np

In [2]:
# Define your query
query = '''
SELECT chrom, pos, ref, alt, gene_id
FROM `bigquery-public-data.open_targets_genetics.locus2gene`
LIMIT 10;
'''

# Run the query
query_job = client.query(query)

# Get the results as a pandas dataframe
results = query_job.to_dataframe()

In [3]:
results.head()

  chrom       pos ref alt          gene_id
0    16  89620969   G   A  ENSG00000075399
1    16    339466   G   C  ENSG00000090565
2    22  37742277   A   T  ENSG00000100092
3    22  39604308   T   C  ENSG00000100335
4    22  41327109   G   A  ENSG00000100399